@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');

@keyframes load {
    0%{
        transform: translateY(-3em);
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}

.contain-info{
    justify-content: center;
    align-items: center;
    background-color: #E7ECEF;
    padding: 2em;
    box-shadow: 0.3em 0.3em 0.7em #232e70d7;
    border-radius: 1em;
    display: grid;
    justify-content: space-evenly;
    gap: 5%;
    grid-template-columns: 25% 70% auto;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.abilities{
    width: 4em;
    height: 4em;
    object-fit: contain;
    margin: 0em 1em;
    margin-bottom: 0.7em;
}

.contain-info p {
    text-align: justify;
    margin-bottom: 0.5em;
}

.title-2{
    margin-top: 0.5em;
    background-color: #274C77;
    border-radius: 1em;
    color: #E7ECEF;
    margin-bottom: 1em;
    padding: 0.2em 0em;
}

.contain-info ul{
    margin-bottom: 1em;
}

.contain-abilities{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.picture{
    border-radius: 50%;
    width: 40vi;
    object-fit: cover;
    height: 40vi;
    border: solid 0.5em #605f6b;
    margin-bottom: 1em;
}

.nav-icon{
    width: 2em;
    display:none
}

.nav-txt{
    display:initial;
    font-size: 1.2em;
}

*{
    margin: 0;
    padding: 0;
}

html{
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-family: "Hind Siliguri", sans-serif;
}

body{
    width: 100%;
    background-color: #E7ECEF;
    animation: load 2s 0s;
}

header,footer{
    width: 100%;
    height: auto;
    z-index: 10;
}

.main-title{
    margin-top: 0.5em;
    color: #E7ECEF;
    font-size: 2.5em;
}

.container-1{
    display: flex;
    justify-content: center;
    background-color: #274C77;
    z-index: 10;
}

.container-4{
    display: flex;
    justify-content: center;
    background-color: #274C77;
}

nav{
    font-size: 1.1em;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5em;
    overflow-inline:clip;

}

a{
    text-decoration: none;
    color: #A3CEF1;
    font-weight: 600;
    transition: 0.3s ease, opacity 0.3s ease;
}

nav a:hover{
    color: #ffffff;
    
}

.container-3{
    top: 2em;
    position:absolute;
    right: 2em;
    z-index: 5;
}

.logos{
    width: 2.2em;
}

.contact{
    display: flex;
    align-content: center;
    background-color: aqua;
    width: 100%;
    margin-top: 1em;
}

.container-grid{
    width: 100%;
    margin: 0;
    padding: 1em;
    display: grid;
    gap: 5%;
    grid-template-columns: 30% 10% 50% auto;
}

section{
    margin: 4em 2em;
    font-size: 1.5em;
}

.col-1 {
    background: linear-gradient(45deg, #274C77, #6ea3d8, #274C77);
    background-size: 300% 300%;
    width: 100%;
    height: 100%;
    border-radius: 1em 0em 0em 1em;
    animation: gradientAnimation 10s ease infinite;
    overflow: hidden;
    position: relative;
}

.footer-list {

    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 1.5rem;
    max-width: 90%;
    margin: 2em auto;
}

.footer-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

.footer-link img {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 1rem;
}

.footer-link:hover {
    color: #c3e4ff;
}

.footer-link span {
    font-size: 1.4em;
}

.contact-me{
    display: flex;
    width: 30%;
    padding-left: 9vi;
    margin-top: 2em;
}



.falling-icons {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.icon {
    position: absolute;
    width: 5vi;/* Adjust the size as needed */
    opacity: 0;
    animation: fallAnimation 10s infinite;
}

@keyframes fallAnimation {
    0% {
        transform: translateY(5000%);
        opacity: 1;
    }
    50%{
        opacity: 1;
    }
    100% {
        transform: translateY(-500%);
        opacity: 0;
    }
}

/* Adding animation for individual icons with different delays */
.icon:nth-child(1) {
    left: 2%;
    animation-duration: 10s;
    animation-delay: 0s;
}

.icon:nth-child(2) {
    left: 20%;
    animation-duration: 10s;
    animation-delay: 2s;
}

.icon:nth-child(3) {
    left: 40%;
    animation-duration: 10s;
    animation-delay: 4s;
}
.icon:nth-child(4) {
    left: 60%;
    animation-duration: 10s;
    animation-delay: 3s;
}

.icon:nth-child(5) {
    left: 75%;
    animation-duration: 10s;
    animation-delay: 5s;
}

.icon:nth-child(6) {
    left: 50%;
    animation-duration: 10s;
    animation-delay: 7s;
}