@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');

@keyframes load {
    0%{
        transform: translateY(-3em);
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}



.nav-icon{
    width: 2em;
    display:none
}

.nav-txt{
    display:initial;
    font-size: 1.2em;
}

*{
    margin: 0;
    padding: 0;
}

html{
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-family: "Hind Siliguri", sans-serif;
}

body{
    width: 100%;
    background-color: #E7ECEF;
    animation: load 2s 0s;
}

header,footer{
    width: 100%;
    height: auto;
    z-index: 10;
}

.main-title{
    margin-top: 0.5em;
    color: #E7ECEF;
    font-size: 2.5em;
}

.container-1{
    display: flex;
    justify-content: center;
    background-color: #274C77;
    z-index: 10;
}

.container-4{
    display: flex;
    justify-content: center;
    background-color: #274C77;
}

nav{
    font-size: 1.1em;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5em;
    overflow-inline:clip;

}

a{
    text-decoration: none;
    color: #A3CEF1;
    font-weight: 600;
    transition: 0.3s ease, opacity 0.3s ease;
}

nav a:hover{
    color: #ffffff;
    
}

.container-3{
    top: 2em;
    position:absolute;
    right: 2em;
    z-index: 5;
}

.reload{
    width: 1.7em;
}

.logos{
    width: 2.2em;
}

.contact{
    display: flex;
    align-items: center;
    justify-content:space-around;
    width: 30%;
    margin-top: 1em;
}

.container-grid{
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    gap: 1em;
    grid-template-columns: 30% 50%
}

section{
    margin: 4em 2em;
}

@media (max-width: 900px) {

    section{
        margin: 4em 2em;
    }

    .main-title{
        margin-bottom: 0.5em;
    }

    .container-4 {
        position: relative;
        width: 100%;
        background: #274C77;
    }

    .navigator {
        display: flex;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        visibility: hidden;
        opacity: 0;
        background: #274C77;
        transform: translateY(-90%); 
        transition: transform 0.3s ease, opacity 0.3s ease; /* Transiciones suaves */
        white-space: nowrap; /* Mantiene los elementos en una sola línea */
    }
    
    .navigator a {
        text-decoration: none;
        padding: 10px 20px; /* Espaciado horizontal y vertical */
        display: flex;
        align-items: center;
    }
    
    .navigator a:hover {
        background: #232f70;
    }
    
    header:hover .navigator {
        transform: translateY(0); /* Mostrar menú al hacer hover en el contenedor */
        visibility: visible;
        opacity: 1;
    }

    .nav-icon{
        display:initial;
        width: 2.3em;
    }

    .nav-txt{
        display:none
    }

}